<div class="container-fluid">
  <div class="row">


    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of selectedProducts">
      <div class="item-card">
        <div class="voting-header">
          <div class="voting-panel">
            <div class="vote-minus voting-button">
              <div class="voting-symbol">
                -
              </div>
            </div>
            <div class="voting-temperature">
              {{ item.hotness }}°
            </div>
            <div class="vote-plus voting-button">
              <div class="voting-symbol">
                +
              </div>
            </div>
          </div>
        </div>
        <div class="image-box" [ngStyle]="{'background-image': 'url(' + item.imgURL + ')'}"></div>
        <div class="price-tag">
          {{ item.price }}€
        </div>
        <div class="action-button-panel">
          <div class="share-button orange-gradient">
            <i class="material-icons share-icon">share</i>
          </div>
          <div class="to-deal-button orange-gradient">
            <a [attr.href]="item.url">
              <div class="deal-text">
                ZUM DEAL
              </div>
            </a>
          </div>
        </div><br /><br /><br /><br />
        <div class="item-description">
          {{ item.title }}
        </div>
        <div class="author-panel">
          <div class="author-image">

          </div>
          <div class="author-name">
            {{ item.author }}
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
