<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="item-card">
        <div class="voting-header">
          <div class="voting-panel">
            <div class="vote-minus voting-button">
              <div class="voting-symbol">
                -
              </div>
            </div>
            <div class="voting-temperature">
              756°
            </div>
            <div class="vote-plus voting-button">
              <div class="voting-symbol">
                +
              </div>
            </div>
          </div>
        </div>
        <div class="image-box"></div>
        <div class="price-tag">
          25,00€
        </div>
        <div class="action-button-panel">
          <div class="share-button orange-gradient">
            <i class="material-icons share-icon">share</i>
          </div>
          <div class="to-deal-button orange-gradient">
            <div class="deal-text">
                ZUM DEAL
            </div>
          </div>
        </div><br /><br /><br /><br />
        <div class="item-description">
          Hersteller: Belvedere Land: Polen Art: Vodka Alkoholgehalt: 40 % Vol. Inhalt: 0,70 ltr. ...
        </div>
        <div class="author-panel">
          <div class="author-image">

          </div>
          <div class="author-name">
            von timeoschmidt
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
